.hero img {
  object-fit: cover;
  object-position: top center;
  max-height: 350px;
  width: 100%;
  display: block;
}

img {
  object-fit: cover;
  object-position: top center;
}

code {
  background-color: rgba(0, 0, 0, 0.125);
  display: inline-block;
  padding: 0 0.25em;
  border-radius: 5px;
}

.ch-80 {
  background-color: #fc0;
  padding-block: 0.25em;
  max-width: 80ch;
  text-align: center;
  border-radius: 5px;
}

.section {
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 48px;
    max-width: 1376px;
  }
}

.pull {
  position: relative;
}

.pull.left {
  left: 0;
}

.left-pull-img {
  width: calc(50% - 12px);
  left: 0;
  position: absolute;
  height: 100%;
}
